body{
    background-color:lavender;
    font-family: Arial, Helvetica, sans-serif;
}

button1{
    border-radius: 12px;
}

table { /* table style from tyle from https://www.w3schools.com/html/html_tables.asp */
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }